@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
  
  .navbar {
    padding: .8rem;
}
  
  .navbar-nav li {
    padding-right: 20px;
}
  .padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
  
.welcome hr{
    border-top: 2px black;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.divider_how_it_works hr{
  width: 50%;
  margin-left:20%;
  margin-right:20%;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


/* Below is mported from sign in page */

body{
  position: relative;
  background-color: whitesmoke;
}


.main{
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.splitbox{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.grid {
  display: grid;
  widows: 90%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.grid div {
  width: 100%;
  padding-top: 100%
}

#iconbox{
  background-color: blue;
  border: solid black 1px;
}

#leftbox img{
  width: 100%;
  height: auto;
}

#grid1{
  background-color: blue;
  border-top-left-radius: 50%;
}

#grid2{
  
}

#grid3{
  background-color: blue;
  border-radius: 50%;
}

#grid4{
  background-color: blue;
  border-radius: 50%;
}

#grid5{
  border-top-right-radius: 50%;
}

#grid6{
  border-bottom-right-radius: 50%; 
  background-color: blue;
}

#grid7{
  border-bottom-left-radius: 50%;
  background-color:  blue;
}

#grid8{
  border-radius: 50%;
}

#grid9{
  background-color: blue;
  border-bottom-right-radius: 50%;
}

.gridbox{
  box-shadow: 5px 5px black;
}

#header{
  margin-bottom: 20px;
  padding-top: 4px;
  background-color: white;
}

#header * img {
  width: 100%;
  height: auto;
  display:flex;
}

nav{
  display: flex;
  justify-content: space-around;
}

.buttons{
  margin-left:auto;
  margin-right:auto;
}

.buttons button{
  border-radius: 25px;
  border: 2px solid blue;
}

#try{
  color: white;
  background: blue;
}

#leftbox{

  
}




#leftbox{
  display:flex;
  padding:0;
  border-top: 2px solid lightgrey;
  border-left: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#rightbox{
  padding-top:80px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: blue;
  color: white;
}

#leftbox img{
  padding:0;
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}

#sect2{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

#sect3{
  width:100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  
}

.blue{
  background-color: blue;
}

#sect3 div{
  display:flex;
  flex-direction:column;
  width: 15%;
  border: solid grey 1px;
}

#sect3 div img{
  width: 60%;
  height: auto;
  align-self: center;
}

#sect3 div p{
  justify-self: flex-end;
  position: relative;
  bottom: 3px;
  margin-left: auto;
  margin-right: auto;
}

.anothergrid{
  display:grid;
  grid-template-columns: 1fr 1fr ;
}

.anothergrid div{
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding:10%
}

.anothergrid div{
  align
}

/* For Christopher's icon design */

.c_icons {
  font-size: 400%;
  color: blue;
}

.icon_divs {
  background-color: lightblue;
  border-color: blue;
  border-width:1px;
  border-style: solid;
  border-radius: 50%;
}